.events-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.title-container {
    font-size: 28px;
    font-weight: 600;
}
.events-location {
    display: flex;
    align-items: center;
    
}
#location {
    text-decoration: none;
    background-color: rgba(151, 202, 209, 0.12);
    padding: 8px 12px;
    border-radius: 8px;
    display: flex;
    margin-left: 15px;
    /* position: relative; */
}
#location a {
    text-decoration: none;
    color: #00798A;
    font-size: 20px;
    font-weight: 600;
}

#location a:hover {
    color: #02545f;
}
#pencil {
    margin-left: 8px;
    /* position: absolute; */
}

#all-events {
    text-decoration: none;
    color: #00798A;
}
.near-title {
    display: flex;
    align-items: center;

}

.events-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    gap: 35px;
    margin-top: 25px;
}
.card {
    position: relative;
}
.on-line {
    position: absolute;
    top: 5px;
    left: 10px;
}

.card-image {
    width: 100%;
    height: 153px;
    object-fit: cover;
    border-radius: 8px;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}

.card-distance {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    margin-top: 20px;
}

.card-date {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.card-date img {
    margin-right: 8px;
}

.date {
    font-size: 14px;
    text-transform: uppercase;
}

.card-ticket {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.card-ticket img {
    margin-right: 8px;
}

.participants {
    margin-right: 12px;

}

@media (max-width: 1200px) {
    .events-cards {
    grid-template-columns: repeat(3, 1fr);
    
    }
}

@media (max-width: 992px) {
    .events-cards {
    grid-template-columns: repeat(2, 1fr);
    
    }
    .title-container {
        font-size: 20px;
    }

    #location a {
        font-size: 18px;
    }
    #all-events {
        font-size: 16px;
    }

    .card-title {
        font-size: 18px;
        margin-top: 8px;
    }
    .card-distance {
        font-size: 12px;
        margin-top: 10px;
    }
    .card-date {
        margin-top: 10px;
    }
    .card-date img {
        height: 15px;
        width: 15px;
    }
    .date {
        font-size: 12px;
    }
    .card-ticket img {
        margin-right: 6px;
    }
    
    .participants {
        margin-right: 10px;
        font-size: 12px;
    }
    .ammount {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .events-cards {
        grid-template-columns: 1fr;
        gap: 20px;
   }
   .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    padding-top: 10px;
    border-top: 1px solid#D9D9D9;
   }
   .card-image {
    grid-column: 1;
    grid-row: 1/5;
    margin-right: 8px;
   }

   .card-date {
    grid-row: 1;
    color: #7C6F50;
    margin: 0;
   }
   .card-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    }
    .card-distance {
        margin: 0;
    }
    .card-image {
        height: 100%;
    }
    .card-ticket {
        display: none;
    }
    .on-line {
        grid-row: 4;
        grid-column: 2;
        top: 0;
        left: 0;
    }
}

@media (max-width: 340px) {
    .title-container {
        font-size: 18px;
    }
    
    #location a {
        font-size: 16px;
    }
    .card-date img {
        display: none;
    }
    .date {
        font-size: 10px;
    }
    .card-title {
        font-size: 14px;
    }
    .card-distance {
        font-size: 10px;
    }
    .on-line {
        max-height: 15px;
    }
    #all-events {
        display: none;
    }
}