.explore {
    margin-top: 65px;
}

.explore-categories {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
    margin-top: 25px;
}

.categorie {
    display: flex;
    flex-direction: column;
    background-color: rgba(151, 202, 209, 0.08);
    border-radius: 8px;
    align-items: center;
    text-align: center;
    padding: 22px;
    font-weight: 500;
}

.categorie img {
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
}

@media (max-width: 992px) {
    .explore-categories {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 768px) {
    .explore-categories {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 576px) {
    .explore-categories {
        grid-template-columns: 1fr 1fr;
    }
}